* the universal selector for the website*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*website background color*/
body {
    background-color: #d9dcd6;
}
/* navbar CSS*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.title-logo {
    display: inline-block;
    font-size: 48px;
}

.title-logo .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* the css styles for the main content of the webpage*/
.digital-meeting-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Css style for the right side content of the website*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefits-content > h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
}



.benefits-content > img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.content-search-engine {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.content-search-engine img {
    max-height: 200px;
}


.content-search-engine h1 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*the css style for the footer of the webpage*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

